* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: PortLligatSans-Regular;
  src: url(/fonts/PortLligatSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/poppins-regular.woff) format('woff2');
}

body {
  background-image: url(images/thumb-1920-1329272.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
/* Navbar - menu */

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-family: Poppins;
  /* position: fixed;
  width: 100vw; */
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
}

.logo:hover {
  cursor: pointer;
}

.letter-1 {
  color: #e3f2fd;
}

.letter-2 {
  color: #bbdefb;
}

.letter-3 {
  color: #90caf9;
}

.letter-4 {
  color: #64b5f6;
}

.letter-5 {
  color: #42a5f5;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.menu a:hover {
  background-color: #2196f3;
  transition: 0.8s;
  border-radius: 5px;
  }



.search-input {
  border: none;
  font-size: 0.7em;
  height: 20px;
  width: 180px;
  padding-left: 10px;
  position: relative;
}

.search-icon {
  width: 15px;
  position: absolute;
  right: 206px;
  top: 22px;
  cursor: pointer;
  border-radius: 5px;
}

.flag-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.flag-icon {
  width: 20px;
  cursor: pointer;
  transition: 0.8s;
}



/* HERO CONTAINER */

.hero-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  height: 70vh;
  padding: 20px;
}

.title-line-1 {
  margin-bottom: 30px;
  font-size: 4em;
}

.container-line-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
}

.hero-p-content {
  width: 400px;
  text-align: center;
  line-height: 1.7;
}

.hero-CTA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 20px;
      background: linear-gradient(to right, #add8e6, #00008b);
      background-size: 200% 100%;
      background-position: left bottom;
      transition: background-position 0.8s ease;
      border-radius: 5px;
}

.hero-CTA a{
  text-decoration: none;
  color: white;
}

.a-tag-btn {
  display: flex;
  gap: 10px;
}

.hero-CTA:hover {
  cursor: pointer;

  background-position: right bottom;
  border-radius: 5px;
}

.letter-6 {
  color: #e3f2fd;
 }

.letter-7 {
  color: #bbdefb;
 }

.letter-8 {
  color: #90caf9;
}

.letter-9 {
  color: #64b5f6;
}

.letter-10 {
  color: #42a5f5;
 }

.letter-11 {
  color: #2196f3;
 }

.letter-12 {
  color: #1e88e5;
 }

.letter-13 {
  color: #1976d2;
 }

.letter-14 {
  color: #1565c0;
}

.letter-15 {
  color: #286bcf;
 }

.letter-16 {
  color: #1565c0;
}

.letter-17 {
  color: #1976d2;
 }

.letter-18 {
  color: #1e88e5;
  }

.letter-19 {
  color: #2196f3;
 }

.letter-20 {
  color: #42a5f5;
}

.word-1, .word-2, .word-3 {
  display: flex;
}

.words {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-content a {
  text-decoration: none;
  color: white;
}


